.home-top-content {
  background-color: #fa8b60;
}

.custom-title::after {
  content: "";
  background-color: #fa8b60;
  height: 3px;
  position: absolute;
  width: 100px;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.home-top-btn {
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #ccc;
}

.custom-all-classes-btn {
  background-color: #fa8b60;
  border: 2px solid transparent;
  transition: 0.4s all;
  color: #fff;
}

.custom-all-classes-btn:hover {
  background-color: transparent;
  border: 2px solid #fa8b60;
  color: #000;
}
